nav {
    color: white;
}

.wrapper {
    height: 100%;
    margin: inherit;
    padding: inherit;
}

body {
    font-family: sans-serif;
    background-color: #f9fbfd;
}

.header {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    border-width: 2px;
    color: black;
    font-size: 18px;
    margin: auto;
    max-width: auto;
    padding: 20px 30px;
}

