nav {
    color: white;
}

.wrapper {
    height: 100%;
    margin: inherit;
    padding: inherit;
}

body {
    font-family: sans-serif;
    background-color: #f9fbfd;
}

.header {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
}

.card {
    background-color: lightgray;
    border-radius: 10px;
    border-width: 2px;
    color: black;
    font-size: 18px;
    margin: auto;
    max-width: auto;
    padding: 20px 30px;
}

.card-footer::before {
    content: " ";
    display: block;
    width: 100%;
    background: white;
}

.card-footer::after {
    content: " ";
    display: block;
    clear: both;
}

.card-body {
    min-height: 150px;
}

.card-header::after {
    content: " ";
    display: block;
    background: white;
    width: 100%;
}

.btn {
    cursor: pointer;
    text-align: center;
    padding: 20px 40px;
    margin: 20px;
    line-height: 2px;
    font-size: 20px;
    display: inline-block;
    box-shadow: black;
    border-radius: 30px;
    border: 1px;
    border-style: solid;
    background-color: black;
    color: white;
    border-color: white;
    align-content: center;
}

